img{
  width: 40%;
  float: left;
  margin-right: 0.5rem;
}

.mod{
  margin:0 auto;
  width: 200px;
}

.tile{
  position: absolute;
  left: 0; 
  top: 0; 
  margin-top: 4rem; 
  margin-left: 1rem;
}


.block-with-text {
  font-size: 0.9em;
}


