


<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened">
    <ul style="list-style-type:none; margin-top: 2rem;">
     <li> <a class="active" routerLink="/">About</a></li>
     <li> <a *ngIf='!user' class="active" [href]="environment + '/auth/google'">Login</a></li>
     <li> <a *ngIf='user' [href]="environment + '/auth/google'">Logout</a></li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar class="navbar" color="primary">
  
      <mat-button-toggle *ngIf='mobile' (click)="opened=!opened"><mat-icon>menu</mat-icon></mat-button-toggle>
      
      <a routerLink="/" class="logo">Logo</a>
      <div *ngIf='!mobile'>
        <span><a class="active" routerLink="/">About</a></span>
        <span><a class="active" routerLink="/messages">Messages</a></span>
        <span><a style="color: #111111;" mat-raised-button *ngIf='!user' [href]="environment + '/auth/google'">Login</a></span>
        <span><a style="color: #111111;" mat-raised-button *ngIf='user' [href]="environment + '/auth/logout'">Logout</a></span>
      </div>  
    </mat-toolbar>

    <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
